<div id="container">
  <h1>Générateur de Passphrases</h1>
  <form>
    <input #wordnbr type="number" value="2" step="1" min="2" max="6" />
    <div>
      <input id="enforce" type="checkbox" name="enforce" [(ngModel)]="enforce" />&nbsp;
      <label for="enforce">Renforcer la passphrase</label>&nbsp;
      <i title="{{ enforceDetails }}" class="info">?</i>
    </div>
    <button (click)="$event.preventDefault();generatePassphrase(wordnbr.value)">Générer</button>
  </form>
  <span id="lastPassphrase">{{ lastPassphrase }}</span>
</div>
