#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: green;

  h1 {
    font-size: 4em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    input[type="number"] {
      width: 100%;
    }
    i {
      background-color: brown;
      padding: 2px 5px;
      border-radius: 5px;
    }
    button {
      margin-top: 20px;
    }
  }

  #lastPassphrase {
    font-weight: bold;
    font-size: 3em;
  }
}
